/* копия портфолио) */
html {
  scroll-behavior: smooth;
}
ul.nav { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #1f554c; 
}

ul.nav li { 
    float: left; 
} 

ul.nav li a { 
    display: block; 
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
} 

ul.nav li a:hover { 
    background-color: #a72295; 
}

 body { 
    background-color: #6bc7bf; 
    font-family: Arial, sans-serif; 
} 

section { 
    border: 2px solid #53d4ae; /*обводка разделов*/
    padding: 15px; margin: 15px 0; 
    min-height: 100vh; /*сколько занимает одна страница*/
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center; 

}

h1{
    color: #ffffff; /*цвет Заголовка1*/
} 
h2, h3 { 
    color: #24837e; /*цвет Заголовкa2,3*/
}

div.container { /*карточки1 портфолио*/
  display: flex;
  flex-wrap: wrap;         
  justify-content: center;  
  gap: 20px;                /* расстояние между карточками1 */
  padding: 20px;
} 

article.card {      /*текст в карточках1*/     
  flex: 1 1 250px;          
  max-width: 280px;         
  height: 350px;            
  background-color: white; /*цвеи фона карточки проектов*/
  border: 2px solid #53d4ae; /*обводка проектов*/     
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 15px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 50%;
  height: 100%;
  border-radius: 0px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #24837e;
}

.card p {
  font-size: 15px;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
}

main { 
    background-color: rgb(202, 249, 240); 
    border-radius: 10px; 
} 

img {
    border-radius: 50%; 
    margin-top: 20px; 
}

footer {
     top: 20px; color: #003366; 
     font-size: 14px; 
     border-top: #24837e solid 2px; 
     margin-top: 30px; 
}